* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Public Sans";
    list-style-type: none;
    text-decoration: none;
  }
  body {
    background-color: #ececec;
  }
  /* -- ------------------------<css header> ------------------- */
  header {
    display: flex;
    background-color: #1b6392;
    justify-content: space-around;
    align-items: center;
    height: 52px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.389);
  }
  
  .header-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }
  .header-content .follow-us {
    display: flex;
    gap: 12px;
  }
  .header-content .follow-us ul li {
    display: flex;
    gap: 12px;
  }
  
  .divide-bar {
    height: 29px;
    width: 1px;
    border-right: 1px solid white;
    box-sizing: border-box;
    opacity: 0.16;
  }
  .multi-languagedropdown,
  .multi-currencydropdown {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  /* -- ------------------------<css navbar> ------------------- */
  .nav-bar {
    display: flex;
    background-color: #1b6392;
    justify-content: space-around;
    align-items: center;
    height: 52px;
  }
  .logo {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .logo img {
    width: 30px;
    height: 3 0px;
  }
  .search {
    width: 650px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.08);
    border-radius: 2px;
    background-color: white;
    display: flex;
    flex-direction: row;
    padding: 5px;
    box-sizing: border-box;
    gap: 8px;
  }
  .search-icon {
    height: 20px;
    width: 20px;
    position: relative;
    left: 20px;
    cursor: pointer;
  }
  .search-input {
    width: calc(100% - 60px);
    border: 0;
    outline: 0;
    font-size: 14px;
    background-color: transparent;
    height: 20px;
    line-height: 20px;
    color: #77878f;
    text-align: left;
    display: inline-block;
    white-space: nowrap;
  }
  .icons {
    display: flex;
    gap: 10px;
    position: relative;
  }
  .icons span{display: flex;
  text-align: center;
  align-items: center;}
  .cart {
    display: flex;
    gap: 10px;
    position: relative;
    left: 20px;
  }
  .cart-icon {
    width: 32px;
    height: 40px;
  }
  .cart .cart-quantity {
    position: relative;
    left: -44px;
    top: -2px;
  }
  .user-menu {
    display: none;
    position: absolute;
    top: 105px;
    right: 20px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
    gap: 20px;
    justify-content: center;
  }
  .user-icon{ width: 32px;
    height: 40px;}
    .user-name{color: white;display: none;}
    .table-body {
        float: right; /* Make the table float to the right */
        width: calc(100% - 200px); /* Set width to remaining space minus sidebar */
        margin-top: 20px; /* Optional margin for spacing */
        clear: both; /* Clear any floating elements around the table */
      }
      
      table.table-inner {
        width: 70%; /* Set table width to 100% */
        border-collapse: collapse; /* Combine border lines of adjacent cells */
        margin: 0 auto; /* Center the table horizontally */
        background-color: #fff; /* Set table background color */
      }
      
      th, td {
        padding: 10px;
        border: 1px solid #ddd;
        text-align: left;
      }
      
      th {
        background-color: #a05252;
      }
     /* Search bar container styles *