* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Public Sans";
  list-style-type: none;
  text-decoration: none;
}
body {
  background-color: #ececec;
}
/* -- ------------------------<css header> ------------------- */
header {
  display: flex;
  background-color: #1b6392;
  justify-content: space-around;
  align-items: center;
  height: 52px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.389);
}

.header-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.header-content .follow-us {
  display: flex;
  gap: 12px;
}
.header-content .follow-us ul li {
  display: flex;
  gap: 12px;
}

.divide-bar {
  height: 29px;
  width: 1px;
  border-right: 1px solid white;
  box-sizing: border-box;
  opacity: 0.16;
}
.multi-languagedropdown,
.multi-currencydropdown {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* -- ------------------------<css navbar> ------------------- */
.nav-bar {
  display: flex;
  background-color: #1b6392;
  justify-content: space-around;
  align-items: center;
  height: 52px;
}
.logo {
  display: flex;
  align-items: center;
  gap: 20px;
}
.logo img {
  width: 30px;
  height: 3 0px;
}
.search {
  width: 650px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.08);
  border-radius: 2px;
  background-color: white;
  display: flex;
  flex-direction: row;
  padding: 5px;
  box-sizing: border-box;
  gap: 8px;
}
.search-icon {
  height: 20px;
  width: 20px;
  position: relative;
  left: 20px;
  cursor: pointer;
}
.search-input {
  width: calc(100% - 60px);
  border: 0;
  outline: 0;
  font-size: 14px;
  background-color: transparent;
  height: 20px;
  line-height: 20px;
  color: #77878f;
  text-align: left;
  display: inline-block;
  white-space: nowrap;
}
.icons {
  display: flex;
  gap: 10px;
  position: relative;
}
.icons span{display: flex;
text-align: center;
align-items: center;}
.cart {
  display: flex;
  gap: 10px;
  position: relative;
  left: 20px;
}
.cart-icon {
  width: 32px;
  height: 40px;
}
.cart .cart-quantity {
  position: relative;
  left: -44px;
  top: -2px;
}
.user-menu {
  display: none;
  position: absolute;
  top: 105px;
  right: 20px;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
  gap: 20px;
  justify-content: center;
}
.user-icon{ width: 32px;
  height: 40px;}
  .user-name{color: white;display: none;}
 
/* category css------------------- */
.bottom-nav {
  border-bottom: 1px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  background-color: #f8f8f8;
  align-items: center;
}

.bottom-nav .left-side,
.bottom-nav .call-now-wrapper {
  display: flex;
  gap: 20px;
}

.bottom-nav .left-side > li,
.bottom-nav .call-now-wrapper > a {
  display: flex;
  align-items: center;
  gap: 10px;
}
.bottom-nav .left-side {
  display: flex;
  gap: 40px;
}
.bottom-nav a {
  display: flex;
  text-decoration: none;
  color: inherit;
  align-items: center;
  gap: 10px;
}

.bottom-nav img {
  height: 24px;
  width: 24px;
}

.category {
  cursor: pointer;
  padding: 10px;
  display: flex;
  gap: 20px;
}

.bottom-nav .left-side > li:hover {
  background-color: #e0e0e0;
}
.category-container {
  display: flex;
  position: absolute;
  z-index: 10;
}
#category-items {
  display: none;
  flex-direction: column;
  width: 200px;
  height: 40%;
  background-color: white;
  margin-left: 20vh;
  z-index: 2;
  text-align: center;
  gap: 20px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}

#category-items span:hover {
  background-color: #e0e0e0; /* Changes the background color of the menu choices when they're hovered over */
}
#category-items-list {
  display: flex;
  left: 320px;
  flex-direction: column;
  width: 200px;
  height: 64%;
  text-align: center;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  gap: 20px;
  z-index: 3;
  background-color: white;
  transition: background-color 0.3s ease;
}

.category-items-list2 {
  top: 70px !important;
}
.category-items-list3 {
  top: 131px !important;
}
.category-items-list4 {
  top: 190px !important;
}
.category-items-list5 {
  top: 245px !important;
}
.category-items-list6 {
  top: 300px !important;
}
.category-list {
  cursor: pointer;
  padding: 10px;
}
.category-list:hover {
  background-color: gray;
}

.category-items-list1,
.category-items-list2,
.category-items-list3,
.category-items-list4,
.category-items-list5,
.category-items-list6 {
  position: absolute;
  display: none;
  top: 9px;
  left: 90px;
}
span a {
  color: black;
}
span a:hover {
  color: red;
}
/* css banner................... */
.banner {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.banner span {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.widget {
  margin: 40px;
  width: 90%;
  height: 580px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  background-color: #f5f5f5;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}
.widget1 {
  margin: 40px;
  width: 90%;
  height: 250px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  background-color: #f5f5f5;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}
.content {
  padding: 20px;
  height: 300px;
}
.heading {
  margin-bottom: 20px;
}

.caption .divider {
  border: none;
  border-top: 1px solid #ddd;
  margin: 10px 0;
}

.tagline {
  font-size: 14px;
  color: #888;
  text-transform: uppercase;
}

.product-title {
  font-size: 24px;
  color: #333;
}

.offer {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
}

.shop-button {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #0078d7;
  color: #fff;
  border: none;
  cursor: pointer;
}

.shop-button .arrow-icon {
  margin-left: 10px;
}
.shop-button:hover {
  background-color: #1b6392;
}
.dot-navigation {
  display: flex;
  justify-content: space-between;
  width: 20%;
}

.product-image {
  width: 80%;
  position: relative;
}

.product-image .image {
  width: 80%;
  height: auto;
}

.price {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 30px;
  right: 10px;
  background-color: rgba(55, 17, 145, 0.5);
  color: #fff;
  padding: 16px 5px;
  border-radius: 50%;
}
/* css footer.............. */
footer{display: flex;
background-color: black;
color: white;
gap: 30px;
justify-content: space-evenly;
padding: 30px;}
.clicon-ecommerce{display: flex;
flex-direction: column;}
.clicon-ecommerce span{display: flex;
gap: 20px;
padding: 20px;}
.top-category1, .quick-links2{display: flex;
flex-direction: column;
gap: 20px;}
.button .tag-button{
    appearance: none;
    background-color: #628c1f;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
     color: #fff;
    cursor: pointer;
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    display: inline;
   }
  
  